@font-face {
    font-family: 'ITC Avant Garde Std Md';
    src: url('../assets/fontfamily/ITCAvantGardeStd-Bold.ttf');
}

@font-face {
    font-family: 'Proxima Nova Rg';
    src: url('../assets/fontfamily/proximanova_regular.ttf');
}
@font-face {
    font-family: 'Roboto Light';
    src: url('../assets/fontfamily/Roboto-Light.ttf');
}


.ul {
    margin: 0;
    padding: 0;
}

ul li.checked {
    background: #888;
    color: #fff;
    text-decoration: line-through;
}

ul li.checked::before {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
}

.passwordselectli {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.passwordselectli input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 2px solid #ddd;
}

.passwordselectli:hover input~.checkmark {
    background-color: transparent;
}

.passwordselectli input:checked~.checkmark {
    background-color: #10B981;
    border: 2px solid #10B981;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.passwordselectli input:checked~.checkmark:after {
    display: block;
}

.passwordselectli .checkmark:after {
    left: 6px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.forgotpasswordcontainer .passwordselect {
    margin-bottom: 30px;
}

body {
    background: var(--WG-Blue-25, #F7FBFF);
    overflow: auto;
}

.Registrationcontainer .MuiFormControl-fullWidth ul li {

    color: #4E4E4F;
    font-family: "Proxima Nova";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.Registrationcontainer .MuiFormControl-fullWidth ul li:hover {
    color: #0A3B70;
    background-color: transparent;

}

.height-fix {
    background: url("../assets/images/WGLImage.jpg") no-repeat;
    /* height: 100vh; 
   
   background-position: center;
   background-size: 100%; */
    height: 100vh;
    position: fixed;
    max-width: 100%;
    width: 100%;
    background-size: contain;
}


.root {
    position: relative;
    flex: 1.3344;
}

.root img {
    max-width: 100%;
    width: 100%;
    height: 100%;
    vertical-align: middle;
}

.pb-10 {
    padding: 10pc 30px 10pc 30px;
}

.wglcontainer {

    margin-top: 12px;
}

.MuiTypography-h5.Logincontent {
    color: var(--WG-Blue-900, #0A3B70);
    font-family: "ITC Avant Garde Std Md";
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.wglcontainer .loginheader,
.loginheader {
    display: flex;
    height: 56px;
    align-items: center;
    gap: 12px;
    flex-shrink: 0;
    margin: 20px 0px;
}

.wgllogo {
    display: flex;
    height: 64px;
    align-items: center;
    gap: 12px;
    flex-shrink: 0;
    color: var(--WG-Blue-700, #0059B3);
    font-family: "Proxima Nova Rg";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none !important;
}

.MuiTypography-root.ResetPassword {

    float: right;
    font-family: "Proxima Nova Rg";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.15000000596046448px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: var(--Gray-700, #4D4C52);


}

.form .Loginbutton.Loginbuttonheight {
    margin-top: 40%;
}

.login-container .mobile-none,
.login-container .wglcontainerblock {
    padding-bottom: 0px !important;
}

.MuiGrid-item.accountSignup {
    display: ruby;
    margin-top: 15px;
}

.MuiButton-containedPrimary.Loginbutton,
.MuiButton-containedPrimary.Loginbutton:hover {
    display: flex;
    height: 48px;
    padding: 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-radius: 4px;
    background: var(--WG-Blue-900, #0A3B70);
    color: var(--White, #FFF);
    text-align: center;
    font-family: "ITC Avant Garde Std Md";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    box-shadow: 0px 1px 1px 0px rgba(0, 89, 179, 0.25);
}

.login-container .PrivateNotchedOutline-root-1 {

    border: 0px;
    top: 0px;
}

.login-container .MuiOutlinedInput-root {
    border-radius: 4px;
    border: 1px solid var(--WG-Blue-100, #DFEDFF);
    background: var(--White, #FFF);
    box-shadow: 0px 1px 1px 0px rgba(0, 89, 179, 0.25);
}

.wglcontainer .css-qxc2i0-MuiButtonBase-root-MuiButton-root.Mui-disabled {
    color: var(--White, #FFF);
}



.mobile-block {
    display: none;

}

.mobile-none {
    display: block;
    padding: 0px;
}

.width590 {
    width: 590px;
}

.modalpopup {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding: 0px 16px 16px 16px;
    border-radius: 10px;
    display: flex;
    width: 590px;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 16px;
    border: 1px solid var(--WG-Blue-100, #DFEDFF);
    background: var(--White, #FFF);
    box-shadow: 0px 1px 1px 0px rgba(0, 89, 179, 0.25);
    outline: 0px;
}

.modalpopupVerification h2 {
    font-weight: bold;
}

.modalpopupinner {
    position: relative;
    margin: 0px;
}

.MuiFormLabel-root.Mui-focused {
    background-color: #FFF;
    z-index: 9999;
    top: -5px;
    padding: 4px;
}

.wglcontainer .MuiFormLabel-root.Mui-focused {
    background-color: transparent;
}

.MuiFormLabel-root.Mui-focused .MuiOutlinedInput-notchedOutline {
    border: 2px solid #1F5FAC;

}

.wglcontainer .css-19qnlrw-MuiFormLabel-root-MuiInputLabel-root {
    font-family: "Proxima Nova Rg";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.15000000596046448px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: var(--Gray-500, #71717A);
}

.wglcontainer .MuiOutlinedInput-notchedOutline {
    border: 1px solid var(--WG-Blue-100, #DFEDFF)
}

.login-container .MuiOutlinedInput-root:hover {
    border: 2px solid var(--WG-Blue-100, #1976d2);
    border-radius: 4px;
}

.login-container .MuiOutlinedInput-root.Mui-focused:hover {
    border: 2px solid var(--WG-Blue-100, #1976d2);
}

/* .login-container .MuiOutlinedInput-root.Mui-focused , */
.login-container .MuiOutlinedInput-root.Mui-error:hover {
    border: 0px solid var(--WG-Blue-100, #1976d2);
}

.wglcontainer .css-quhxjy-MuiInputBase-root-MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline,
.css-jupps9-MuiInputBase-root-MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
    border-color: transparent;
}

.inputBackground .css-16wblaj-MuiInputBase-input-MuiOutlinedInput-input {
    background: var(--WG-Blue-100, #DFEDFF);
    color: var(--WG-Blue-900, #0A3B70);
}

.inputBackground label {
    display: none;
}

.wglcontainer .css-19qnlrw-MuiFormLabel-root-MuiInputLabel-root.Mui-error.Mui-focused,
.wglcontainer .css-113d811-MuiFormLabel-root-MuiInputLabel-root.Mui-error.Mui-focused {
    color: var(--Red-500, #EF4444) !important;
}

.wglcontainer .css-113d811-MuiFormLabel-root-MuiInputLabel-root.Mui-focused {
    color: var(--WG-Blue-700, #0059B3);

}

.css-1blp12k-MuiInputBase-root-MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline,
.css-1n04w30-MuiInputBase-root-MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
    border-color: var(--WG-Blue-700, #0059B3) !important;
    border-width: 2px;

}

.css-1n04w30-MuiInputBase-root-MuiOutlinedInput-root:hover.Mui-error .MuiOutlinedInput-notchedOutline {
    border-color: var(--Red-500, #EF4444) !important;
}

.accountSignup div {
    color: var(--Gray-700, #4D4C52);
    text-align: center;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: "Proxima Nova Rg";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.15px;
}

.accountSignup a {
    color: var(--WG-Blue-700, #0059B3);
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: "Proxima Nova Rg";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.15px;
    text-decoration: none;
    padding-left: 5px;
}

.Emailicons {
    display: inline-flex;
    width: 100%;
    margin-bottom: 15px;
}

.Emailicons img {
    margin: 10px 15px 10px 0px;
    border: 1px solid #b2adad;
    padding: 15px;
    border-radius: 6px;
}

.displayblock {
    display: block;
}

.MuiGrid-item.Newpassword {
    display: block;
    margin: auto;
}

.Newpassword h5 {
    font-weight: bold;
}

.css-1nrlq1o-MuiFormControl-root.newpassword-list {
    margin: 20px 0px;
}

.modalpopupVerification .ResetLogo {
    margin: 0px 9px;
    max-width: 14.5%;
    flex-basis: 14.5%;
}

.modalpopupVerification .form {
    margin: 15px 0px;
}


input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;

}


input[type=number] {
    -moz-appearance: textfield;
}

.login-container .NeedSupport {

    display: flex;
    height: 64px;
    padding: 0px 24px;
    justify-content: flex-end;
    align-items: center;
    gap: 12px;
    font-family: Arial;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: #FFF;

}

.NeedSupport img {
    width: 16px;
    height: 16px;
}

.zoom125 .login-container,
.zoom150 .login-container,
.zoom100 .login-container {
    width: 1200px;
}

.zoom100 {
    zoom: 100%;
}

.zoom125 {
    zoom: 125%;
}

.zoom150 {
    zoom: 150%;
}

.standardEamil .MuiInputBase-colorPrimary {
    display: flex;
    width: 100%;
    height: 48px;
    padding: 12px 12px 12px 16px;
    justify-content: flex-end;
    align-items: center;
    border-radius: 4px;
    border: 1px solid var(--WG-Blue-100, #DFEDFF);
    background: var(--White, #FFF);
}

.standardEamil .MuiFormControl-root {
    margin: 16px 0px 48px 0px;
    width: 100%;
}

.forgotpassword h3 {
    color: var(--Gray-700, #4D4C52);
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: "Proxima Nova Rg";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    /* 150% */
    letter-spacing: 0.15px;
}

.forgotpassword p {
    color: var(--Gray-700, #4D4C52);
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: "Proxima Nova Rg";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.15px;
    padding: 16px 0px;
}

.forgotpasswordcontainer .buttonCancel,
.closebutton {
    color: var(--Gray-700, #fff);
    text-align: center;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: "Proxima Nova Rg";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.15px;
    margin-top: 8px;
    box-shadow: none;
    display: flex;
    height: 48px;
    padding: 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-radius: 4px;
    background: var(--WG-Blue-900, #0A3B70);
    box-shadow: 0px 1px 1px 0px rgba(0, 89, 179, 0.25);
}

.Registrationcontainer .MuiFormControl-fullWidth {
    margin: 0px 0px 16px;
}

.Registrationcontainerlist .Logincontent {
    margin: 12px 0px 24px;
}

.Registrationcontainer .Loginbutton {
    margin-top: 25%;
}

.passwordselect {
    border-radius: 2px;
    border: 1px solid var(--WG-Blue-100, #DFEDFF);
    background: var(--White, #FFF);
    padding: 16px;
    box-shadow: 0px 1px 1px 0px rgba(0, 89, 179, 0.25);
}

.passwordselect p {
    color: var(--Gray-700, #4D4C52);
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: "Proxima Nova Rg";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    /* 125% */
    letter-spacing: 0.25px;
}

.css-1blp12k-MuiInputBase-root-MuiOutlinedInput-root:hover.Mui-error .MuiOutlinedInput-notchedOutline {
    border-color: #d32f2f !important;
}

.passwordselect ul li {
    color: var(--Gray-700, #4D4C52);
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: Roboto Light;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.25px;
    list-style: none;
}

.passwordselect ul {
    margin: 0px;
    padding: 0px;
}

.headercontent,
.Verifyemail .headercontent {
    color: var(--Gray-700, #4D4C52);
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: "Proxima Nova Rg";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    padding: 16px 0px;
    letter-spacing: 0.15px;
}

.modalpopupinner {
    width: 100%;
}

.modalpopupcontent {
    color: var(--Gray-700, #4D4C52);
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: "Proxima Nova Rg";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    margin: 0px;
    /* 150% */
    letter-spacing: 0.15px;
}

.Loginbutton.mar-48 {
    margin-top: 48px;
}

.modalpopupinner .closebutton,
.Verifyemail .closebutton {
    color: var(--Gray-700, #fff);
    text-align: center;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: "Proxima Nova Rg";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.15px;
    margin-top: 8px;
    box-shadow: none;
    display: flex;
    height: 48px;
    padding: 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-radius: 4px;
    background: var(--WG-Blue-900, #0A3B70);
    box-shadow: 0px 1px 1px 0px rgba(0, 89, 179, 0.25);
    width: 100%;
}

.Verifyemail .p-0,
.MuiPaper-root .Verifyemail .p-0 {
    padding: 0px;
}

.Verifyemail {
    padding: 0px 24px 24px;
}


/* upload Button */
.UploadContainer .Uploadfiles {
    border-radius: 16px;
    border: 3px dashed var(--WG-Blue-200, #B9DCFE);
    background: #FFF;
    display: flex;
    width: 100%;
    height: 180px;
    padding: 32px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    color: var(--WG-Blue-900, #0A3B70);
    text-align: center;
    font-family: "Proxima Nova Rg";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 15px;
}

.Browsechoose {
    color: var(--WG-Blue-950, #07254A);
    text-align: center;
    font-family: "Proxima Nova Rg";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.SupportedFormats .fileformat {
    margin: 15px 0px;
}

.fileformat span {
    color: var(--WG-Blue-900, #0A3B70);
    font-family: "Proxima Nova";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0px 5px;
}

.SupportedFormats h3 {
    color: var(--WG-Blue-900, #0A3B70);
    font-family: "ITC Avant Garde Gothic Std";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin-top: 24px;
}

.width100 {
    width: 100%;
}

.nav-bar-container .navbar-nav {
    width: 100%;
    display: contents;
}

.nav-linksbuttons {
    display: flex;
}

.nav-linksbuttons .headseticon img {
    padding-right: 8px;
}

.nav-linksbuttons button {
    padding: 0px;
    padding-left: 15px;
    color: #3f51b5;
}

.nav-bar-container .container,
.container {
    max-width: 1200px;
    margin: auto !important;
    padding: 0px;
}

.MapCenterAccecss .MapCenterAccecssheading h1 {
    margin: 26px 0px;
    color: var(--WG-Blue-900, #0A3B70);
    font-family: "ITC Avant Garde Gothic Std";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    height: 56px;
}

.MapCenterAccecssheading {
    display: flex;
    align-items: center;
}

.Personal-Informationsheading h2 {
    color: var(--WG-Blue-700, #0059B3);
    font-family: "ITC Avant Garde Gothic Std";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.MapCenterAccecss .Personal-Information-container {
    border-radius: 8px;
    border: 1px solid var(--WG-Blue-100, #DFEDFF);
    background: #FFF;
    box-shadow: 0px 1px 1px 0px rgba(0, 89, 179, 0.25);
    padding: 24px !important;
    margin-bottom: 24px;
}

.modalpopupcontenterror {
    margin-top: 15px;
    color: #ef4444;
}

.alertpopup {
    display: flex;

}
.alertpopup img{
    padding-right: 30px;
}

.ration-1x1 {
    --bs-aspect-ration: 60%;
}

.ration {
    position: relative;
    width: 100%;
}

.ration::before {
    display: block;
    content: '';
    padding-top: 100%;
}

.ration>* {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}

.inputBackground .css-1ll44ll-MuiOutlinedInput-notchedOutline {
    border-width: 0px;
}

.Personal-Information .Cancelbutton {
    border-radius: 4px;
    background: var(--Gray-100, #F5F5F6);
    padding: 16px 25px;
    box-shadow: 0px 1px 1px 0px rgba(132, 132, 140, 0.25);
    color: var(--Gray-400, #84848C);
    text-align: center;
    font-family: "ITC Avant Garde Gothic Std";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 24px;
}

.Personal-Information .CompleteRegistration {
    border-radius: 4px;
    padding: 16px 25px;
    float: right;
    background: var(--WG-Blue-900, #0A3B70);
    color: var(--White, #FFF);
    text-align: center;
    font-family: "ITC Avant Garde Gothic Std";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 24px;
    text-transform: uppercase;
    box-shadow: 0px 1px 1px 0px rgba(0, 89, 179, 0.25);
}

.Registrationcontainer .MuiFormControl-marginNormal .MuiAutocomplete-endAdornment button .css-1umw9bq-MuiSvgIcon-root{
    display: none
}

.MuiFormControl-marginNormal .MuiAutocomplete-endAdornment button.MuiAutocomplete-popupIndicator {
    background: url('../assets/images/Vector.svg');
    width: 18px;
    height: 18px;
    background-repeat: no-repeat;
    background-position: center;
}

.forgotpassword h2 {
    color: var(--Gray-700, #4D4C52);
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: "Proxima Nova";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.15px;
}
.Personal-Information .MuiOutlinedInput-notchedOutline{
    border-radius: 4px;
border: 1px solid var(--WG-Blue-100, #DFEDFF);
background: var(--White, #FFF);
}
.Personal-Information-container .mapcontainer  .supplierDetailes{
    padding: 0px 12px;
}
.Documentsuplaod{
    margin: 16px 0px;
}



@media only screen and (max-width: 1200px) {
    .container {
        max-width: 100%;
        margin: auto;
        padding: 0px 20px;
    }
}

@media only screen and (min-width: 1400px) {

    .loginbuttonfixed {
        position: absolute;
        bottom: 10px;
        width: 96%;
    }

    .wglcontainerblock {
        position: relative;
    }
}

@media only screen and (min-width: 1600px) {

    .ration::before {
        padding-top: 75%;
    }
}

@media only screen and (min-width: 1200px) {
    .container {
        max-width: 100%;
        padding: 0px 20px;
    }

    .ration::before {
        padding-top: 100%;
    }

}

@media only screen and (max-width: 1124px) {
    .pb-10 {
        padding: 5pc 30px 5pc 30px;
    }
}

@media only screen and (max-width: 999px) {
    .pb-10 {
        padding: 3pc 15px 3pc 15px;
    }

    .MuiTypography-h5.Logincontent {

        padding: 10px 0px;
        font-size: 18px;
    }

    .list-type li {
        font-size: 14px;
        padding: 15px 5px;
    }
}

@media only screen and (max-width: 820px) {
    .pb-10 {
        padding: 20px 15px 10px 15px;
    }
}

@media only screen and (max-width: 768px) {


    .mobile-block {
        display: block;
        padding-bottom: 20px;
    }

    .wglcontainer {
        width: 400px;
        margin: auto;
        padding: 10% 0px;
    }

    .height-fix {
        border-radius: 0pc;
    }

    .mobile-none {
        display: none;
    }

    .list-type {
        position: relative;
    }

    .ResetLogo img {
        width: 50px;
    }

    .login-container {
        background-image: url("../assets/images/Frame2173.svg");

        max-height: 100%;
        background-size: cover;
        height: 100%;
        background-repeat: no-repeat;
    }

    .MuiTypography-root.mobilebanner {
        background-color: #fff;
        border-radius: 10px;
        margin-top: 40px;
        padding: 20px;
    }

    .wgllogo img {
        margin-top: 10%;
    }

    .list-type {
        margin: 0px;
        padding: 0px;
    }

    .modalpopup {
        width: 100%;
        padding: 20px;
    }

    .MuiGrid-grid-sm-5.wglcontainerblock {
        flex-grow: 0;
        max-width: 100%;
        flex-basis: 100%;
    }
}

@media only screen and (max-width: 420px) {



    .wglcontainer {
        width: 100%;
        margin: auto;
        padding: 10% 15px;
    }
}